@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PCDetails</h1>
    <p class="lead">PC Details is a application for managing the inventry of computer parts and staff its assigned to </p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            PC Details gives you a powerful approach to managing computer inventory
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>More Information</h2>
        <p>This tool is used for internal purposes only</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Data</h2>
        <p>The information on this application is for internal use only </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>